@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Barriecito&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luxurious+Script&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mr+Dafoe&family=Permanent+Marker&family=Praise&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rye&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Barriecito&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luxurious+Script&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mr+Dafoe&family=Permanent+Marker&family=Playball&family=Praise&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rye&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}



.hidden {
    display: none !important;
}


html {
  scroll-behavior: smooth;
}

body{
    background-color: #edede9;
}

.btn-desktop{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3991fc;
    padding: 10px 14px;
    font-weight: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #ffff;
}

.btn-desktop:hover{
    background-color:#84bcff;
    color: #ffff;
}

html, body {
  width: 100%;
}

html, body {
  overflow-x: hidden !important;
}

/* Impede que as animações do ScrollReveal criem folgas temporárias */
#contato,
.contato-imagem,
.form-contato {
  transform: translateZ(0);
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden !important;
  width: 100%;
  max-width: 100%;
}

header, nav, #navbar, #menu_mobile {
  overflow-x: hidden;
  max-width: 100vw;
}


@media screen and (max-width:1170px) {
  p {
    text-align: justify;
    hyphens: auto;         /* permite hifenização automática */
    -webkit-hyphens: auto; /* compatibilidade com Safari */
    -ms-hyphens: auto;     /* compatibilidade com IE antigo */
  }
}
